DJANGO_SECRET_KEY=django-example-key
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=*
DJANGO_DATABASE_URL=sqlite:///db.sqlite3

# EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_USERNAME=email_username
EMAIL_PASSWORD=email_password

# Dump SQL queries to DEBUG logs
SQL_TRACE=False
