DJANGO_SECRET_KEY=django-example-key
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=*
DJANGO_DATABASE_URL=sqlite:///db.sqlite3

CELERY_BROKER_URL=redis://default:redis_password@localhost:6379/0
CELERY_WORKER_CONCURRENCY=1

EMAIL_URL=filemail:///email
# EMAIL_URL=consolemail://
# EMAIL_URL=smtp+tls://user:password@smtp.example.com:587

# Dump SQL queries to DEBUG logs
SQL_TRACE=False
